/*Gustavo Cardoso Ribeiro*/
/*833588*/


body {
    background-color: #f9dc7c;
}
    
#header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
    
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a36629;
}
        
#navbar li {
    float: left;
}
            
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

#navbar li a:hover:not(.active){
    background-color: #7a4d1f;
}
        
#middle {
    background-color: #fff4d3;
    width: 100%;
}
            
#middle h1 {
    text-align: center;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid brown;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
}

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#nome, #sobrenome, #completo, #email {
    width: 100%;
}

#completo:hover {
    cursor: not-allowed;
}

.button {
    display: block;
    background-color: #a36629;
    color: white;
    font-weight: bold;
    border: none;
    margin: 0;
    padding: 5px 10px;
}

.button:hover {
    background-color: #7a4d1f;
    cursor: pointer;
}

footer {
    background-color: #7a4d1f;
    color: #FFF;
    width: 100%;
    padding: 50px 0px;  
    text-align: center;
}